.input-main-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}
.add-product-label{
    color: rgb(163, 163, 163);
    font-size: 12px;
    
}
.add-product-input{
    background-color: whitesmoke;
 
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
}
input:focus{
    outline: none;
    
}

.drag-and-drop-container{
    width: 100%;
    height:150px;
    background-color: whitesmoke;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.image-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.image-text img{
    width: 40px;
    height: 40px;
}

textarea{
    background-color: whitesmoke;
 
    padding: 10px;
    font-size: 15px;
    border-radius: 8px; 
}
textarea:focus{
    outline: none;
}
.input-sec-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}