.main{
    background-color: #FFAF70;
    align-items: center;
    place-items: center;
    width: 35vh;
    height: 100vh;
    padding: 10px 20px;
}


.Applogo{
    text-align: center;
    margin-bottom: 10px;
    font-size: 0px;
    margin-top: 10px;
}

.links{
display: flex;
flex-direction: column;


}
.general{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
    padding-left: 10px;
margin-top: 30px;
  
}
.general h6{
    
    
    
}
.links .select{
   text-decoration: none;
   color: #000040; 
   display: flex;
   padding: 10px 0px;
   padding-left: 10px;
   display: flex;
   gap: 15px;
 height: 60px;
   align-items: center;

}

.links .select h4{
    font-weight: 100;
    font-size: 15px;
}

.links .select:hover {
    background-color: rgba(0, 0, 64, 0.15) ;
   
  
    border-radius: 5px;
}

.selected{
    background-color: rgba(0, 0, 64, 0.15) ;
    text-decoration: none;
   color: #000040; 
   display: flex;
   padding: 10px 0px;
   padding-left: 10px;
   display: flex;
   gap: 15px;
 height: 60px;
   align-items: center;

  
    border-radius: 5px;
}

.links .select img{
  width: 20px;
}

.links h6{
   padding-bottom: 20px; 
   font-weight: 100;
   padding-top: 20px;
   font-size:20px;
    margin-bottom: -10px;

}

.links div{

}





